<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-between align-items-center py-2 px-5 bg-secondary">
        <h1 class="text-info">ROCK ON {{ user.first_name }} !</h1>
        <a href="/mybands" class="btn btn-info bg-primary">MY BANDS</a>
        <a href="/dashboard" class="btn btn-info bg-primary">DASHBOARD</a>
        <a href="/logout" class="btn btn-danger">LOGOUT</a>
    </div>
    <hr>
    <main class="d-flex justify-content-around">
        <div class="col-10 bg-dark text-light">
            <h2 class="text-center">CREATE BAND</h2>
            {% with messages = get_flashed_messages(category_filter=['band']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>!!!</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <hr class="bg-info">
            <div class="d-flex flex-row justify-content-between card bg-dark my-2">
                <form action="/add/new" method="post" class="col-4 p-4 bg-dark text-light">
                    <div class="form-group">
                        <label for="band_name">Band Name:</label>
                        <input type="text" name="band_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input type="text" name="genre" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" name="city" class="form-control">
                    </div>
                    <input type="submit" value="CREATE" class="btn bg-primary btn-success">
                </form>
            </div>
        </div>
    </main>
</body>

</html>